[user]
	name = Ben Liu
	email = ben196888@gmail.com

[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global

[commit]
	gpgsign = false

[diff]
	tool = default-difftool

[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE

[gpg]
	program = /usr/local/bin/gpg

[pull]
	rebase = true

[merge]
	ff = false

[alias]
	a = add
	au = add -u
	ap = add -p
	###############
	br = branch
	brsc = branch --show-current
	###############
	c = commit
	cm = commit -m
	clo = clone
	cho = checkout
	chp = cherry-pick
	chpa = cherry-pick --abort
	chpc = cherry-pick --continue
	###############
	d = diff
	dc = diff --cached
	dh = diff --histogram
	###############
	f = fetch
	fa = fetch --all
	fap = fetch --all --prune
	###############
	i = init
	###############
	lo = log --graph --oneline --decorate
	loa = log --graph --oneline --decorate --all
	###############
	me = merge
	mea = merge --abort
	mec = merge --continue
	###############
	pl = pull
	ps = push
	psf = push --force
	psu = push -u
	###############
	reb = rebase
	rebi = rebase -i
	rebc = rebase --continue
	reba = rebase --abort
	res = reset
	resh = reset --hard
	ress = reset --soft
	###############
	sth = stash
	sthl = stash list
	sthp = stash pop
	sths = stash show -p
	stt = status
	###############
