<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>domenic/sinon-chai</key>
			<dict>
				<key>date</key>
				<date>2021-05-25T15:11:18Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>domenic/sinon-chai</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>domenic/sinon-chai</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>Reactive-Extensions/RxJS</key>
			<dict>
				<key>date</key>
				<date>2018-07-16T02:02:29Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>Reactive-Extensions/RxJS</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>Reactive-Extensions/RxJS</string>
				</dict>
			</dict>
			<key>ReactiveX/rxjs</key>
			<dict>
				<key>date</key>
				<date>2018-07-16T02:02:27Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ReactiveX/rxjs</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>ReactiveX/rxjs</string>
				</dict>
			</dict>
			<key>facebook/immutable-js</key>
			<dict>
				<key>date</key>
				<date>2018-07-16T02:02:38Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>facebook/immutable-js</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>facebook/immutable-js</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHighlightedWebViewTextSizeMultiplier</key>
	<real>0.83333331346511841</real>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Enzyme</key>
			<dict>
				<key>date</key>
				<date>2019-03-24T00:03:41Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Enzyme#readme</string>
					<key>authorLinkText</key>
					<string>Jason Weir</string>
					<key>name</key>
					<string>Enzyme</string>
					<key>platform</key>
					<string>usercontribEnzyme</string>
					<key>uniqueIdentifier</key>
					<string>Enzyme</string>
				</dict>
			</dict>
			<key>Immutable.js</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:27:31Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>immutable</string>
						<string>immutable-js</string>
						<string>immutablejs</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Immutable.js#readme</string>
					<key>authorLinkText</key>
					<string>Michal Cichra</string>
					<key>name</key>
					<string>Immutable.js</string>
					<key>platform</key>
					<string>usercontribImmutable.js</string>
					<key>uniqueIdentifier</key>
					<string>Immutable.js</string>
				</dict>
			</dict>
			<key>Jest</key>
			<dict>
				<key>date</key>
				<date>2019-02-28T12:10:04Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Jest</string>
						<string>React</string>
						<string>Webpack</string>
						<string>jQuery</string>
						<string>CoffeeScript</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>Unit Test</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Jest#readme</string>
					<key>authorLinkText</key>
					<string>Xianming Zhong</string>
					<key>name</key>
					<string>Jest</string>
					<key>platform</key>
					<string>usercontribJest</string>
					<key>uniqueIdentifier</key>
					<string>Jest</string>
				</dict>
			</dict>
			<key>Restify</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:27:31Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Restify#readme</string>
					<key>authorLinkText</key>
					<string>Carsten Schabacker</string>
					<key>name</key>
					<string>Restify</string>
					<key>platform</key>
					<string>usercontribRestify</string>
					<key>uniqueIdentifier</key>
					<string>Restify</string>
				</dict>
			</dict>
			<key>RxJS</key>
			<dict>
				<key>date</key>
				<date>2019-09-22T00:09:18Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/RxJS#readme</string>
					<key>authorLinkText</key>
					<string>Ian Sinnott</string>
					<key>name</key>
					<string>RxJS</string>
					<key>platform</key>
					<string>usercontribRxJS</string>
					<key>uniqueIdentifier</key>
					<string>RxJS</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>annotationsAreShown</key>
	<true/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</key>
			<string>js:</string>
			<key>~/Library/Application Support/Dash/DocSets/Lo-Dash/Lo-Dash.docset</key>
			<string>_:</string>
			<key>~/Library/Application Support/Dash/DocSets/TypeScript/TypeScript.docset</key>
			<string>ts:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Chai.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:27:33Z</date>
			</dict>
			<key>http://kapeli.com/feeds/D3JS.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:27:42Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:30:04Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Express.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:27:34Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Go.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:27:50Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:32:04Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lo-Dash.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:27:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Mocha.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:27:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MomentJS.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:27:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MongoDB.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:28:01Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:27:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:27:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:28:02Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Redis.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:27:58Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Rust.xml</key>
			<dict>
				<key>date</key>
				<date>2021-03-19T15:46:02Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Sinon.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:27:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:27:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/VueJS.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-01T01:27:58Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/EmberJS.xml</key>
			<dict>
				<key>date</key>
				<date>2017-10-26T23:30:55Z</date>
			</dict>
			<key>http://kapeli.com/feeds/UnderscoreJS.xml</key>
			<dict>
				<key>date</key>
				<date>2018-10-14T13:49:56Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
	<key>windowStyle</key>
	<string>Standard</string>
</dict>
</plist>
